In [34]:
import sys
from pathlib import Path
sys.path.append(str(Path(sys.argv[0]).absolute().parent.parent.parent.parent))
# add the entire folder to path
from src.utils import utils

In [35]:
user = input("user: ")
password = input("password: ")
ip = input("ip: ")
key = input("key: ")

In [36]:
from sqlalchemy import create_engine
import pandas as pd

sql_uri = f'mysql+pymysql://{user}:{password}@{ip}:3306/playerdata'

engine = create_engine(sql_uri)
sql=f'''
select 
    HEX(AES_ENCRYPT(pl.name, "{key}")) as name, 
    pl.created_at, 
    pl.updated_at, 
    pl.possible_ban, 
    pl.confirmed_ban, 
    pl.label_id, 
    lb.label,
    case 
        when label_jagex = 2 then "banned"
        else null
    end as account_status,
    phd.*
from Players pl 
join playerHiscoreDataLatest phd on pl.id = phd.Player_id
join Labels lb on pl.label_id = lb.id
where pl.label_id <> 0'''
with engine.connect() as conn:
    df = pd.read_sql(sql, params=None ,con=conn)
df

,name,created_at,updated_at,possible_ban,confirmed_ban,label_id,label,account_status,id,timestamp,...,tombs_of_amascut,tombs_of_amascut_expert,tzkal_zuk,tztok_jad,venenatis,vetion,vorkath,wintertodt,zalcano,zulrah
0,3BA604236FB0319D5937E31388B0C64C,2021-03-14 20:22:45,2022-12-19 05:02:57,0,0,1,Real_Player,None,59568395,2022-12-19 05:04:16,...,-1.0,-1.0,-1,-1,-1,-1,-1,-1,-1,-1
1,5A02B5A7F38AD2623A9C5E68DF01EC2F,2021-03-14 20:42:37,2022-12-19 00:36:08,0,0,1,Real_Player,None,59622273,2022-12-19 00:36:09,...,-1.0,-1.0,-1,10,-1,-1,114,73,-1,1256
2,59DCFCAFC1F3DF3326F36E7A39B741FC,2021-03-14 22:17:16,2022-12-19 14:49:19,0,0,1,Real_Player,None,292513577,2022-12-19 14:49:20,...,-1.0,-1.0,-1,-1,-1,-1,-1,-1,-1,-1
3,1C74EFD6CE51790D7BF65A94F47675B5,2021-03-14 22:17:23,2022-12-19 17:46:42,0,0,1,Real_Player,None,59503415,2022-12-19 17:46:53,...,235.0,-1.0,-1,-1,-1,-1,279,1526,145,-1
4,E666957B20A95519E6306D75FEC4DE19,2021-03-14 22:17:40,2022-12-19 01:23:32,1,0,1,Real_Player,None,59615490,2022-07-27 06:41:21,...,0.0,0.0,-1,20,-1,-1,1000,500,-1,400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286229,6E7E905BD514BE26D8A3F992F8608994,2022-03-01 12:07:50,2022-12-19 17:58:03,1,1,91,Zulrah_bot,banned,466640172,2022-03-13 17:12:57,...,0.0,0.0,-1,-1,-1,-1,188,-1,-1,953
286230,D79289E312C5C09137C50988EDE1CD80,2022-03-02 17:08:13,2022-12-19 16:37:53,1,1,91,Zulrah_bot,banned,469963212,2022-03-17 06:11:20,...,0.0,0.0,-1,-1,-1,-1,-1,-1,-1,88
286231,967E7402E3C179BDAA8D355833EE2132,2022-03-02 19:44:03,2022-12-19 14:20:40,1,1,91,Zulrah_bot,banned,469963520,2022-03-10 03:25:38,...,0.0,0.0,-1,-1,-1,-1,-1,-1,-1,65
286232,9FEC361CC715E7A5535ECADDF88FB636,2022-03-03 20:32:27,2022-12-19 16:39:54,1,1,91,Zulrah_bot,banned,474190614,2022-03-10 07:09:02,...,0.0,0.0,-1,-1,-1,-1,-1,-1,-1,74
286233,36D63B6CDD6C3D00C9C89A2B14E938C5,2022-03-09 22:54:52,2022-12-19 03:49:57,1,1,91,Zulrah_bot,banned,485481635,2022-03-13 01:35:29,...,0.0,0.0,-1,-1,-1,-1,-1,-1,-1,223

In [37]:
df.set_index("Player_id", inplace=True)

In [38]:
df.describe()

,possible_ban,confirmed_ban,label_id,id,total,attack,defence,strength,hitpoints,ranged,...,tombs_of_amascut,tombs_of_amascut_expert,tzkal_zuk,tztok_jad,venenatis,vetion,vorkath,wintertodt,zalcano,zulrah
count,286234.000000,286234.000000,286234.000000,2.862340e+05,2.862340e+05,2.862340e+05,2.862340e+05,2.862340e+05,2.862340e+05,2.862340e+05,...,286203.000000,286203.000000,286234.000000,286234.000000,286234.000000,286234.000000,286234.000000,286234.000000,286234.000000,286234.000000
mean,0.555130,0.533092,27.772892,1.272409e+08,7.592422e+07,4.613690e+06,3.989119e+06,6.834496e+06,8.833890e+06,8.013346e+06,...,4.480624,2.603142,-0.597616,1.103873,22.618389,8.226825,181.372866,96.557544,48.699438,261.090933
std,0.496952,0.498905,35.767427,1.312493e+08,1.523337e+08,9.737696e+06,8.368783e+06,1.532521e+07,1.779451e+07,1.819261e+07,...,27.160565,27.720244,2.981847,9.191659,271.064680,117.410461,1021.368619,285.245164,421.627503,1322.161954
min,0.000000,0.000000,1.000000,1.277322e+07,-2.300000e+01,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,0.000000,0.000000,1.000000,5.909432e+07,2.589429e+06,1.378500e+04,4.480000e+03,1.375000e+04,1.623500e+04,1.200000e+01,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
50%,1.000000,1.000000,7.000000,5.978270e+07,1.618283e+07,7.376685e+05,5.968565e+05,8.152260e+05,1.211640e+06,4.932785e+05,...,0.000000,0.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
75%,1.000000,1.000000,42.000000,1.597151e+08,8.187651e+07,5.113342e+06,4.208670e+06,8.626339e+06,1.003393e+07,7.466200e+06,...,0.000000,0.000000,-1.000000,0.000000,-1.000000,-1.000000,0.000000,79.000000,0.000000,0.000000
max,1.000000,1.000000,91.000000,9.576201e+08,4.600000e+09,2.000000e+08,2.000000e+08,2.000000e+08,2.000000e+08,2.000000e+08,...,1860.000000,1538.000000,386.000000,1060.000000,84214.000000,10577.000000,68790.000000,16006.000000,31062.000000,164088.000000

In [39]:
print(len(utils.HISCORE_COLUMNS))
print(len(set(utils.HISCORE_COLUMNS)))

86
86

In [40]:
import numpy as np

df.columns = [c.lower() for c in df.columns]
df[utils.HISCORE_COLUMNS] = df[utils.HISCORE_COLUMNS].fillna(0)
df[utils.HISCORE_COLUMNS] = df[utils.HISCORE_COLUMNS].replace(-1, 0)
df['total'] = df[utils.SKILLS].sum(axis=1).abs().astype(np.uint64) # Unsigned integer (0 to 18_446_744_073_709_551_615)

In [41]:
df["account_status"] = df["account_status"].fillna("not banned")

In [42]:
df.describe()

,possible_ban,confirmed_ban,label_id,id,total,attack,defence,strength,hitpoints,ranged,...,tombs_of_amascut,tombs_of_amascut_expert,tzkal_zuk,tztok_jad,venenatis,vetion,vorkath,wintertodt,zalcano,zulrah
count,286234.000000,286234.000000,286234.000000,2.862340e+05,2.862340e+05,2.862340e+05,2.862340e+05,2.862340e+05,2.862340e+05,2.862340e+05,...,286234.000000,286234.000000,286234.000000,286234.000000,286234.000000,286234.000000,286234.000000,286234.000000,286234.000000,286234.000000
mean,0.555130,0.533092,27.772892,1.272409e+08,7.592381e+07,4.613691e+06,3.989119e+06,6.834497e+06,8.833890e+06,8.013346e+06,...,4.895634,3.041361,0.196986,1.841182,23.401301,9.031750,182.012381,97.118532,49.448954,261.781151
std,0.496952,0.498905,35.767427,1.312493e+08,1.523338e+08,9.737696e+06,8.368783e+06,1.532521e+07,1.779451e+07,1.819261e+07,...,27.079650,27.666152,2.900888,9.032046,270.996768,117.347857,1021.254535,285.053665,421.539366,1322.025206
min,0.000000,0.000000,1.000000,1.277322e+07,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,1.000000,5.909432e+07,2.589612e+06,1.378500e+04,4.480000e+03,1.375000e+04,1.623500e+04,1.200000e+01,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,1.000000,7.000000,5.978270e+07,1.618213e+07,7.376685e+05,5.968565e+05,8.152260e+05,1.211640e+06,4.932785e+05,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,42.000000,1.597151e+08,8.187651e+07,5.113342e+06,4.208670e+06,8.626339e+06,1.003393e+07,7.466200e+06,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,79.000000,0.000000,0.000000
max,1.000000,1.000000,91.000000,9.576201e+08,4.600000e+09,2.000000e+08,2.000000e+08,2.000000e+08,2.000000e+08,2.000000e+08,...,1860.000000,1538.000000,386.000000,1060.000000,84214.000000,10577.000000,68790.000000,16006.000000,31062.000000,164088.000000

In [43]:
from datetime import datetime 
now = datetime.now().strftime("%Y-%m-%d")
now = "2022-10-26"

In [44]:
df.to_parquet(
    f'./raw/{now}_hiscore_data.parquet.gzip',
    compression='gzip'
)